@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1536px;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  /* // bg-base-300 */
  /* background-color: oklch(var(--b3)); */

  /* TOAST OVERRIDE */
  --toastify-color-light: #fff;
  --toastify-color-dark: oklch(var(--n));

  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* Used only for colored theme */
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* Used when no type is provided
  toast("**hello**") */
  --toastify-color-progress-light: linear-gradient(
    to right,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  /* Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);

  /* used to control the opacity of the progress trail */
  --toastify-color-progress-bgo: 0.2;
}

.Toastify__toast {
  background-color: oklch(var(--n));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  border: 1px solid #364053;
}
.Toastify__toast-icon {
  margin-right: 0.6rem;
  width: 25px;
}
.Toastify__toast-body {
  height: 100%;
}
.Toastify__close-button {
  opacity: 0.5;
  padding: 1rem;
  align-self: center;
  border: 1px solid #7988a6;
  padding-left: 24px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  color: #7988a6;
}

.Toastify__toast--success {
  border-left: 5px solid oklch(var(--su));
}
.Toastify__toast--error {
  border-left: 5px solid oklch(var(--er));
}
.Toastify__toast--warning {
  border-left: 5px solid oklch(var(--wa));
}
.Toastify__toast--info {
  border-left: 5px solid oklch(var(--in));
}

.Toastify__toast--success .customTitle {
  color: oklch(var(--su));
}
.Toastify__toast--error .customTitle {
  color: oklch(var(--er));
}
.Toastify__toast--warning .customTitle {
  color: oklch(var(--wa));
}
.Toastify__toast--info .customTitle {
  color: oklch(var(--in));
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: oklch(var(--b3));
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* daisyUI Overrides */
.btn {
  @apply min-h-0 !important;
}

a {
  @apply rounded-[2px] !important;
  font-weight: 500;
}

.rotate {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}

.hero {
  background-image: url("/heroBg.png");
  background-size: 75%;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.03;
  z-index: 0;
}

.label {
  @apply py-1;
}

.myDropdown {
  position: relative;
  display: inline-block;
}
.myDropdown > *:not(summary):focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.myDropdown .myDropdown-content {
  position: absolute;
}
.myDropdown:is(:not(details)) .myDropdown-content {
  visibility: hidden;
  opacity: 0;
  transform-origin: top;
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
}
.myDropdown-end .myDropdown-content {
  inset-inline-end: 0px;
}
.myDropdown.myDropdown-open .myDropdown-content,
.myDropdown:not(.myDropdown-hover):focus .myDropdown-content,
.myDropdown:focus-within .myDropdown-content {
  visibility: visible;
  opacity: 1;
}

.marquee,
.marquee2,
.marquee3 {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee {
  top: 24%;
}
.marquee3 {
  top: 29%;
}
.marquee2 {
  top: 36%;
}

.marquee__content,
.marquee__reverse,
.marquee__icons,
.marquee__icons__reverse {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
}
.marquee__content li,
.marquee__reverse li {
  font-size: 0.625rem;
  @apply font-display;
  letter-spacing: 2px;
  color: oklch(var(--p));
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
  .marquee__reverse {
    animation-play-state: paused !important;
  }
}

/* Enable animation */
.marquee__content,
.marquee__reverse {
  animation: scroll 20s linear infinite;
}

.marquee__reverse {
  animation-direction: reverse;
}
.marquee__icons {
  animation: scroll 30s linear infinite;
}
.marquee__icons__reverse {
  animation: scroll 30s linear infinite;
  animation-direction: reverse;
}

/* Pause on hover */
.marquee--hover-pause:hover .marquee__content {
  animation-play-state: paused;
}

@media (max-width: 1024px) {
  html {
    font-size: 0.875rem;
  }
}

@media (max-width: 810px) {
  html {
    font-size: 0.8rem;
  }
}
