@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* daisyUI Overrides */
.btn {
  @apply min-h-0 !important;
}

a {
  @apply rounded-[2px] !important;
  font-weight: 500;
}

.rotate {
  writing-mode: vertical-rl;
  text-align: center;
  transform: rotate(180deg);
}

.hero {
  background-image: url("./assets/heroBg.png");
  background-size: 80%;
  background-position: center;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  opacity: 0.03;
  z-index: -1;
}

.myDropdown {
  position: relative;
  display: inline-block;
}
.myDropdown > *:not(summary):focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.myDropdown .myDropdown-content {
  position: absolute;
}
.myDropdown:is(:not(details)) .myDropdown-content {
  visibility: hidden;
  opacity: 0;
  transform-origin: top;
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    -webkit-backdrop-filter;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-property:
    color,
    background-color,
    border-color,
    text-decoration-color,
    fill,
    stroke,
    opacity,
    box-shadow,
    transform,
    filter,
    backdrop-filter,
    -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 200ms;
}
.myDropdown-end .myDropdown-content {
  inset-inline-end: 0px;
}
.myDropdown.myDropdown-open .myDropdown-content,
.myDropdown:not(.myDropdown-hover):focus .myDropdown-content,
.myDropdown:focus-within .myDropdown-content {
  visibility: visible;
  opacity: 1;
}
